<h1>Class room</h1>

<select id="id-select-teacher" class="form-select" aria-label="Default select example">
  <%= options_for_select([['Select teacher', nil]]) %>
</select>
<hr>
<div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Teacher</th>    
            <th scope="col">Age</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @classrooms.each_with_index do |item, index|%>
        <tr>
            <th scope="row"><%=index+1%></th>
            <td><%= link_to item.name, manager_classroom_path(item)%></td>
            <td><%=item.teacher.name%></td>
            <td><%=item.teacher.age%></td>
            <td>
                <button class="btn btn-secondary" onclick="showModal()" id="btn-edit">Custom</button>
                <%= link_to "Delete", manager_classroom_path(item), id: "btn-delete", data: {turbo_method: :delete, turbo_confirm: "Bạn chắc chắn muốn xoá?"}, class: "btn btn-danger" %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    
</div>



<%= render "form", classroom: @classroom %>

<%= javascript_include_tag 'jquery'%>
<script>
    $.ajax({
            type: 'GET',
            url: '/teachers',
            dataType: "json",
            success: function(teachers){
                teachers.forEach(function(teacher) {
                $('#id-select-teacher').append($('<option>', {
                value: teacher.id, // Giá trị của tùy chọn
                text: teacher.name // Nội dung hiển thị của tùy chọn
                }));
            });
            }
        })
</script>


