
<h1>Student</h1>
 <%= search_form_for @q, url: manager_students_path, class: 'd-flex' do |f| %>
            <div class="input-group mb-3">
              <%= f.search_field :name_cont, class: 'form-control me-2', placeholder: 'Search' %>
              <div class="input-group-append">
                <%= f.select :grades_subject_eq, options_for_select([['match', 0], ['english', 1], ['history', 2], ["physical", 3]], nil), { prompt: 'Subject...' }, class: 'custom-select' %>
                <label class="input-group-text" for="q_grades_subject_eq">Subject</label>
              </div>
              <%= f.submit 'Search', class: 'btn btn-outline-success', type: 'submit' %>
            </div>
          <% end %>
<div>
    
    <table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
            <th scope="col">Move</th>
        </tr>
    </thead>
    <tbody>
        <% @students.each_with_index do |student, index|%>
        <tr>
        <th scope="row"><%=index+1%></th>
        <td><%= link_to student.name, manager_student_path(student)%></td>
        <td><%=student.age%></td>
        <td><%=student.phone%></td>
        <td>
            <%# <button type="button" class="btn btn-secondary">Custom</button> %>
            <%= link_to "Custom", edit_manager_student_path(student), class: "btn btn-secondary" %>
            <%= link_to "Delete", manager_student_path(student), data: {turbo_method: :delete, turbo_confirm: "Bạn chắc chắn muốn xoá?"}, class: "btn btn-danger" %>
        </td>
        <td>
            <%= link_to "Move up", move_higher_manager_student_path(student), data: {turbo_method: :put}, class: "move_action" %>
            <br>
            <%= link_to "Move down", move_lower_manager_student_path(student), data: {turbo_method: :put}, class: "move_action" %>
        </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <%= link_to 'Add Student', new_manager_student_path %>
</div>

<%= paginate @students, theme: 'bootstrap-5',pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>

