<!DOCTYPE html>
<html>
  <head>
    <title>Student page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Home', manager_students_path, class: 'navbar-brand' %>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Add', new_manager_student_path, class: 'nav-link active', 'aria-current': 'page' %>
            </li>
            <li>
              <%= link_to 'Student deleted', manager_student_deleted_path, class: 'nav-link active', 'aria-current': 'page' %>
            </li>
          </ul>

         



        </div> 
        
        <% if user_signed_in? %>
          <p><%= current_user.email %></p>
          <%= link_to 'Logout', destroy_user_session_path, 
            method: :delete,
            class: 'btn btn-outline-success',
            data: { turbo_method: "delete" } %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-success' %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
