<!DOCTYPE html>
<html>
  <head>
    <title>Bt119</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Home', manager_students_path, class: 'navbar-brand' %>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Add', new_manager_student_path, class: 'nav-link active', 'aria-current': 'page' %>
            </li>
            <li>
              <%= link_to 'Student deleted', manager_student_deleted_path, class: 'nav-link active', 'aria-current': 'page' %>
            </li>
          </ul>


          <%= form_with(url: manager_students_path, method: "GET", class: 'd-flex') do |form| %>
            <%= form.text_field :search, class: 'form-control me-2', placeholder: 'Search' %>
            <div class="input-group mb-3">
              <%= form.select :subject, options_for_select([['match', 0], ['english', 1], ['history', 2], ["physical", 3]], nil), { prompt: 'Subject...' }, class: 'custom-select' %>

              <div class="input-group-append">
                <label class="input-group-text" for="example_select">Subject</label>
              </div>
            </div>
            <%= submit_tag 'Search', class: 'btn btn-outline-success', type: 'submit' %>
          <% end  %>
        </div> 
        
        <% if user_signed_in? %>
          <p><%= current_user.email %></p>
          <%= link_to 'Logout', destroy_user_session_path, 
            method: :delete,
            class: 'btn btn-outline-success',
            data: { turbo_method: "delete" } %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-success' %>
        <% end %>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
